<!--jQuery CDN link-->
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="VITC MUN 2017"/>
<meta name="keywords" content="VITCMUN17, VIT MUN, VIT Chennai Model United Nations"/>
<meta name="author" content="Prashant Bhardwaj Kumar Shubham"/>
<link rel="stylesheet" type="text/css" href="/styles/style.css"/>
<script src="/js/modernizr.custom.63321.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<!--[if lte IE 7]>
<style>.main {
    display: none;
}

.support-note .note-ie {
    display: block;
}</style><![endif]-->
<style>
    @import url('http://fonts.googleapis.com/css?family=Ubuntu:400,700');

    body {
        background: #563c55 url('/images/admin_bg.jpg') no-repeat center top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

    .container > header h1,
    .container > header h2 {
        color: #fff;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
    }
</style>