<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<style>
    li{
        color: ##fff;
    }
</style>
<body style="background-color: #000;color: #fff;">
<h2>You got <strong style="color: yellow;">stcuk</strong> in an error!</h2>
And the thing that led to this was:
{{message}}

<ul>
    <li>Assertion Error '!=' means that the form was empty!</li>
    <li>jwt malformed means: you are not verifiied to go to the site. Login Again!</li>
</ul>
</body>
</html>