<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VITC MUN 2017</title>
    <meta name="description" content="VITC MUN 2017"/>
    <meta name="keywords" content="VITCMUN17, VIT MUN, VIT Chennai Model United Nations"/>
    <meta name="author" content="Kumar Shubham"/>
    <link rel="stylesheet" type="text/css" href="/styles/style.css"/>
    <script src="/js/modernizr.custom.63321.js"></script>
    <!--[if lte IE 7]>
    <style>.main {
        display: none;
    }

    .support-note .note-ie {
        display: block;
    }</style><![endif]-->
    <style>
        body {
            background: #563c55 url('images/admin_bg.jpg') no-repeat center top;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
        }

        .container > header h1,
        .container > header h2 {
            color: #fff;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
        }
    </style>
</head>
<body>
<div class="container">

    <header style="text-align: center;margin-top: 2em;">
        <h1 style="font-size: 5em;">VITC MUN 2017</h1>
        <strong style="color: #fff;">Chit passing Appliction</strong>
    </header>

    <section class="main">
        <form class="form-3" method="post" action="/auth/login">
            <div align="center">
                <p class="clearfix">
                    <input type="text" name="username" required id="login" placeholder="Country">
                </p>
                <p class="clearfix">
                    <input type="password" name="password" required id="password" placeholder="Password">
                </p>
            </div>
            <p class="clearfix">
            <center><input type="submit" name="submit" value="Sign in"></center>
            </p>
        </form>
        ​
    </section>

</div>
</body>
</html>