div.jumbotron {
    text-align: center;
}

div#inputBox, div#countryBox {
    position: fixed;
    width: 70% !important;
    overflow: hidden;
    bottom: 0;
    z-index: 1;
    margin-top: 50px;
}

div.message-card {
    border-radius: 1.2em;
}

div.messages {
    height: 100%;
    overflow: scroll;
}

h3.message-card-title {
    text-align: left;
}

h3#online-user-heading {
    text-align: left;
}

div.online-users {
    overflow: hidden;
    height: 512px;
}

div.messages {
    overflow-y: auto;
    height: 500px;
}

nav{
    background-color: #34495e;
}